
body {
   background: url("../homePage/images/background2.jpg") no-repeat center center fixed;
   background-size: cover;
   height: 100%;
   //background-color: red;
   color: white;
   text-align: center;
}

#img_underConstruction{
    max-height: 250px;
    width: auto;
    height: auto;
}
