<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=19472395a2969da78c8a4c707e72123a">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <style type="text/css" class="init">
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <script type="text/javascript" src="/media/js/site.js?_=a3593f0ad38e48ce5d1fcf0f4769c5b8"></script>
    <script type="text/javascript"
            src="/media/js/dynamic.php?comments-page=examples%2Fbasic_init%2Fzero_configuration.html" async></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
    <script type="text/javascript" class="init">
        /* Formatting function for row details - modify as you need */
        function format ( d ) {

            if (!d)
                return '';

            let groupInfo = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                    '<thead>'+
                        '<tr>'+
                            '<th>Link</th>'+
                            '<th>Units Ordered</th>'+
                            '<th>Total Sales</th>'+
                        '</tr>'+
                    '</thead>'+
                    '<tbody>';
            var cat = document.getElementById("category").value;
            {{#link_stats}}
                if (cat == "groupName" && d[0] === '{{groupName}}' ||
                    cat == "merchId"  && d[0] === '{{MerchantID}}' ){

                        groupInfo += '<tr>' +
                                '<td>{{OriginalURL}}</td>' +
                                '<td>{{TotalUnitsOrdered}}</td>' +
                                '<td>{{TotalConvertedToSale}}</td>' +
                                '<td onmouseover="" style="font-size:48px; cursor:pointer; color:blue" onclick="window.open(\'/heatmap?linkID={{LinkID}}\', \'_blank\');" <i class="fa fa-globe"></i>' +
                                '</td>' +
                                '</tr>';
                 }
            {{/link_stats}}

            groupInfo += '</table>';

            return groupInfo;
        }

        $(document).ready(function() {
            var name_table = $('#example').DataTable( {
                "paging" : true,
                "info"   : false,
                "searching" : true,
                "columnDefs" : [
                    //{"width":"60%", "targets":0},
                    {"className": "dt-center", "targets": [1, 2]}
                ]
            } );

            // Add event listener for opening and closing details
            $("#example tbody").each(function() {
                $(this).on('click', 'td', function () {
                    var tr = $(this).closest('tr');
                    var row = name_table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else if (1) {
                        // Open this row
                        row.child(format(row.data())).show();
                        tr.addClass('shown');

                    }
                });
            });
            var merch_table = $('#merchant_sort').DataTable( {
                "paging" : true,
                "info"   : false,
                "searching" : true,
                "columnDefs" : [
                    //{"width":"60%", "targets":0},
                    {"className": "dt-center", "targets": [1, 2]}
                ]
            } );
            $('#merchant_sort').parents('div.dataTables_wrapper').first().hide();

            // Add event listener for opening and closing details
            $("#merchant_sort tbody").each(function() {
                $(this).on('click', 'td', function () {
                    var tr = $(this).closest('tr');
                    var row = merch_table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else if (1) {
                        // Open this row
                        row.child(format(row.data())).show();
                        tr.addClass('shown');

                    }
                });
            });
            $("#category").change(function(){
                var cat = document.getElementById("category").value;
                if(cat == "groupName"){
                    $('#example').parents('div.dataTables_wrapper').first().show();
                    $('#merchant_sort').parents('div.dataTables_wrapper').first().hide();
                }else {
                    $('#merchant_sort').parents('div.dataTables_wrapper').first().show();
                    $('#example').parents('div.dataTables_wrapper').first().hide();
                }
            });

        } );

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }




    </script>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
            class="fa fa-bars"></i>  Menu
    </button>
    <span class="w3-bar-item ">SYL Journal</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong>{{userName}}</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
        <a class="w3-bar-item w3-button w3-padding  w3-blue"  ><i class="fa fa-users fa-fw"></i>  Link Journal</a>
        <a href="/batchForm" class="w3-bar-item w3-button w3-padding "><i class="fa fa-eye fa-fw"></i>  Link Generator</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Placeholder 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Placeholder 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Placeholder 4</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Placeholder 5</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Placeholder 6</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Placeholder 7</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
</nav>
<!-- Table hidden initially - potential way to show links of a category -->
<div class="w3-container" id="popup_table" style="display:none;z-index:2;margin-top:43px">
    <table id="pop" class="display" style="width:100%">
        <thead>
        <tr>
            <th>PublisherID</th>
            <th>Original URL</th>
            <th>imageRedirectPermahashLink</th>
        </tr>
        </thead>
        <tbody>
        {{#links}}
            <tr>
                <td>{{publisherID}}</td>
                <td>{{originalURL}}</td>
                <td>{{imageRedirectPermahashLink}}</td>
            </tr>
        {{/links}}
        </tbody>
    </table>
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;margin-left:300px">
    <div class="w3-container">
        <!-- <button class="w3-button w3-green" >Add  -->

        <div style="float:left;display:inline-block;margin-top:5px">
            <h3>Your Links</h3>
        </div>

        <div style="float:right;display:inline-block;margin-right:52px">
            <h6 style="margin-left:5px">Group by:</h6>
            <select id="category" style="float:left;margin-top:-13px">
                <option value="groupName">Group Name</option>
                <option value="merchId">Merchant</option>
            </select>
        </div>


        <table id="example" class="display" style="width:100%;margin-top:0;margin-bottom:0px">
        <thead>
        <tr>
            <th>Group</th>
            <th>Number of Links</th>
            <th>Earnings</th>
        </tr>
        </thead>
        <tbody>
        {{#groups}}
            <tr>
                <td>{{GroupName}}</td>
                <td>{{NumberOfLinks}}</td>
                <td>{{Earnings}}</td>
            </tr>
        {{/groups}}
        </tbody>
    </table>

    <table id="merchant_sort" class="display" style="width:100%;margin-top:0;margin-bottom:0px">
        <thead>
        <tr>
            <th>Merchant</th>
            <th>Number of Links</th>
            <th>Earnings</th>
        </tr>
        </thead>
        <tbody>
        {{#merchantGroups}}
            <tr>
                <td>{{MerchantID}}</td>
                <td>{{NumberOfLinks}}</td>
                <td>{{Earnings}}</td>
            </tr>
        {{/merchantGroups}}
        </tbody>
    </table>
    </div>
    <a href="/batchForm" style="margin-left:17px;">
        <button onmouseover="" style="font-size:20px;border-color:limegreen;cursor:pointer;background-color:lawngreen;">
            <i class="fa fa-plus-circle" style="color:green"></i> Add More Links
        </button>

    </a>

    <!-- End page content -->
</div>


</html>