<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/mainStyle.css">
    <title>{{userName}}'s SYL Journal</title>
</head>
<body>

    <h1>Hello {{userName}}!</h1>
    <br>
    <img src="homePage/images/underConstruction.gif" id="img_underConstruction" alt="Under Construction">
    <br><br>
    <h2>For a sample UI, <a href="sampleUI">Click Here</a></h2>
</body>
</html>